/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


   nav{
   
    height: 70px;
    background-attachment: fixed;
    background: linear-gradient(90deg, rgb(11, 11, 11),  rgb(42, 43, 44));
    position: fixed;
    align-items: center;
    display: flex;
    top: 0px;
    width: 100vw;
    z-index: 3;
    
  
}

ol{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    
}

ol li a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
   
}

.section{
  /* width: 60%; */
  height: fit-content;
  display: flex;
  margin: 100px auto;
}

h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  text-align: center;
  padding: 20px;
}
h2{ 
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 40px;
}
.card p{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight:200 ;
  text-align: center;
  line-height: 1.5;
}
nav img{
  width: 40px;
  display: none;
  margin-left: 18px;
  background-image: linear-gradient(980deg, #c9d9fb, #5751f8, #212121, #1a1a1aee);
  padding: 7px;
  border-radius: 10px;
}
@media screen and (max-width: 770px){
  
  ol li a{
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 12pt;
      text-align: center;
      text-decoration: none;
      padding: 16px;
     
  }

  nav img{
      
      display: inline;
  }
  nav ol{
      display: none;
  }
  nav:hover ol {
      display: flex;
      flex-direction: column;
      
  }
  nav:hover{
      height: 100vh;
  }
  nav:hover img{
     display: none;
  }
}


body{
  height: 6000px;
  background-color:#080c14;
  margin-right: 0;

}

h2{
  font-family:'Happy Farmhouse', sans-serif;
}

h1{
  font-family: 'Happy Farmhouse', sans-serif;
                                                
}


.Accueil{
   
    height: 700px;
    top: 0;
    justify-content:center;
    display: flex;
    margin: 0 auto;
    padding: 0;
    background-image: radial-gradient(circle, #0a37d0, #0d5381, #02234e, #000000);
    width: 100vw;
}

.Apropos{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;

}
.BFS{
  width: 400px;
  margin: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.BFS img{
    border-radius: 50%;
    height: 150px;
    padding: 30px;
    position: relative;
    justify-content: center;
    top: 0;


}
h1{
    font-size: 140pt;
    color: white;
}
.Apropos p{
    color: rgb(255, 255, 255);
   font-family: 'NIGHTMARE PILLS', sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 600px;
    font-weight:bold;
    font-size: 22pt;
}
.Apropos a{
  color: rgb(255, 255, 255);
  font-family: 'NIGHTMARE PILLS', sans-serif;
   text-align: center;
   margin: 0;
   display: flex;
   align-items: center;
   padding: 10px;
   width: 600px;
   font-weight: 300;
   font-size: 19pt;
}


.Contenu button{
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background-color: rgba(255, 250, 250, 0.071);
    box-shadow: 0px 5px 10px rgba(2, 38, 122, 0.964);
    position: relative;
    /* z-index: 1; */
  
  }
  button{
    top: 0px;
    padding: 0;
    margin: 0;
    font-size: 23px;
    color: rgb(255, 255, 255);
    font-family: 'Happy Farmhouse', sans-serif;
    /* z-index: 2; */
    transition: 0.3s;
    overflow: hidden;
  }
  
  
  button:hover{
    color: rgb(12, 12, 125);
    width: 250px;
  }
  
  button::before{
    content:"";
    position:absolute;
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background:linear-gradient(90deg,rgb(238, 151, 45, 0.93), rgb(250, 180, 67));
    top: -2px;
    left: -2px;
    transform: translate(-100%);
    transition: 0.3s;
    z-index: -1;
  
  }
  button:hover::before{
    transform: translate(0%);
  }
  button i{
    transform: scale(0);
    margin: -10px;
    transition: 0.3s;
  }
  button:hover i{
    transform: scale(1);
    margin-left: 10px;
  }
  
  .SVG{
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(229, 226, 226);
    margin: 0 auto;
    z-index: -1;

  }

  .logos{
  
    width: 100vw;
    margin: 50px;
    flex-direction: row;
    display: flex;
    align-items:center;
    justify-content: center;
    /* position: relative; */
  }
  
  
  .logos img:hover{
    background:linear-gradient(90deg,rgba(46, 80, 252, 0.93), rgb(13, 4, 147));
  }
  .logos img{
    border-radius: 50%;
    width: 20%;
    padding: 30px;
    margin:30px;
    height: 70px;
    background:linear-gradient(90deg,rgb(238, 151, 45, 0.93), rgb(250, 180, 67));
    align-items: center;
    justify-content: center;
    position: relative;
  
  
  }
  .SVG h2{
    font-size: 70pt;
    padding:60px;
    margin: 0;
    top: 0;
    display: flex;
    margin: 0 auto;
    font-weight: 500;
    color: #060f1e;
    font-family: 'Happy Farmhouse', sans-serif;
    text-align: center;
  
  }
  .services{
    justify-content:center;
    align-items:center;
    width: 200px;
    margin: 0;
    height: 0;
    top: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    /* position: relative; */
  }
  .services p{
    font-size: 30px;
    font-family: 'Happy Farmhouse', sans-serif;
    font-weight: 600;
    color: black;
    top: 0;
    text-align: center;
 

  }



.Galerie{
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100vw;
    padding: 0;
    margin:auto;
    background-image: radial-gradient(circle, #0a37d0, #581286, #4e024a, #2f0820, #000000);
    position: relative;
    justify-content:flex-start;
    align-items: center;
  
}

.Galerie h2{
    font-size: 70pt;
    padding:40px;
    margin: auto;
    color: #ffffff;
    font-family: 'Happy Farmhouse', sans-serif;
    /* position: relative; */
    text-align: center;
    
}
.Videoyt iframe{
    border-radius: 20px;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
   

}

.Galeriephoto{
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px;
    padding: 0;
    width: 700px;
    border-radius: 20px;


}
.photos{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    margin: 0;
    height: fit-content;
    justify-content:center;
    /* width: 100vw; */
}

.photos img{
    height: 250px;
    width: 150px;
    padding: 20px;
    border-radius: 20%;
    margin: 0;
    transition: 3ms;
    transform: translateY(100%);


}
img :hover{
    transform: scale(1);
   

}



.Contenu1 button{
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 5px 10px rgba(2, 38, 122, 0.964);
    position: relative;
    z-index: 1;
  }
  button {
    top: 0px;
    padding: 0;
    margin: 0;
    font-size: 23px;
    color: rgb(0, 0, 0);
    font-family: 'Happy Farmhouse', sans-serif;
    z-index: 2;
    transition: 0.3s;
    overflow: hidden;

  }
  
  
  button:hover{
    color: rgb(255, 255, 255);
    width: 250px;
  }
  
  button::before{
    content:"";
    position:absolute;
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background:linear-gradient(90deg,rgb(238, 151, 45, 0.93), rgb(250, 180, 67));
    top: -2px;
    left: -2px;
    transform: translate(-100%);
    transition: 0.3s;
    z-index: -1;
  
  }
  button:hover::before{
    transform: translate(0%);
  }
  button i{
    transform: scale(0);
    margin: -10px;
    transition: 0.3s;
  }
  button:hover i{
    transform: scale(1);
    margin-left: 10px;
  }
 
  
  
  .main{
    display: flex;
  margin: 0 auto;
  width: 100vw;
  height: 700px;
  flex-direction: column;
  

}

.card{
  justify-content: center;
  background-color: #000000;
  height: 500px;
  width: 650px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 0px auto;
  
  
  
}
.main h2{
  font-family: 'Happy Farmhouse', sans-serif;
  color: white;
  display: flex;
  font-size: 70pt;
  padding:0px;
  margin: 30px auto;
  
}

.main .card p{
  color: rgb(255, 255, 255);
  font-family: 'NIGHTMARE PILLS', sans-serif;
  text-align: center;
  font-size: 17pt;
  line-height: 1.5;
  font-weight: bold;
  margin: 15%;
  justify-content: center;
  
  
}

.card button {
  height: 50px;
    width: 250px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 5px 10px rgba(4, 1, 21, 0.964);
    position: relative;
  }
  button{
    top: 0;
    padding: 0;
    margin: 0;
    font-size: 19pt;
    font-weight: bold;
    color: rgb(255, 255, 255);
    /* font-family: 'NIGHTMARE PILLS', sans-serif; */
    font-family:'Happy Farmhouse', sans-serif;
    z-index: 2;
    transition: 0.3s;
    overflow: hidden;
  }
  
  
  button:hover{
    color: rgb(12, 12, 125);
    width: 250px;
  }
  
  button::before{
    content:"";
    position:absolute;
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background-color: rgb(253, 253, 253);
    top: -2px;
    left: -2px;
    transform: translate(-100%);
    transition: 0.3s;
    z-index: -1;
    
  }
  button:hover::before{
    transform: translate(0%);
  }
  button i{
    transform: scale(0);
    margin: -10px;
    transition: 0.3s;
  }
  button:hover i{
    transform: scale(1);
    margin-left: 10px;
  }
  
  

  
  
  
  .Social{
    width: 100vw;
    background-color: rgb(12, 83, 224);
    /* justify-content:flex-start; */
    /* align-items: center; */
    margin: 0;
    padding: 0;
    
  }
 
  
  .copyright{
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 60px;
    width: 100vw;
    background-color: rgb(18, 18, 18);
  }
  .copyright p{
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size:20pt;
    font-weight: bold;
    font-family: 'Happy Farmhouse', sans-serif;
    letter-spacing: 2px;
    
  }

  
  .footer-container {
    background-color: rgb(18, 18, 18);
    margin-bottom: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .newsletter {
    width: 100vw;
    /* background-color: rgb(18, 18, 18); */
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .newsletter p{
    font-family: 'NIGHTMARE PILLS', sans-serif;
    color: white;
    font-size: 15pt;
  }
  .newsletter ::placeholder{
    color: #000000;
    font-family: 'NIGHTMARE PILLS', sans-serif;
    font-size: 13pt;
    text-align: center;
    
  }
  .newsletter div {
    background-color: rgb(182, 226, 245);
    padding: 0 10px;
    border-radius: 35px;
    display: flex;
    align-items: center;
  }
  
  .newsletter div input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1rem;
    
  }
  
  .newsletter div i {
    cursor: pointer;
    background-color: #0081FE;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
  }
  
  .social-links {
    display: flex;
    align-items: center;
  }
  
  .social-links .link {
    padding: 2rem 10px;
  }
  
  .social-links .link a {
    color: #ffffff;
    font-size: 40px;
  }
  
  .social-links .link a:hover {
    color: #00f;
  }
  
  .copyright {
    padding: 0 0 2rem;
    font-size: 10px;
  }
  
 
  



  /* Votre CSS commun ici */

@media screen and (max-width: 767px) {
  /* Styles pour les téléphones */
 

  /* Accueil BFS  */
  .Accueil{
   
    height: 1200px;
    top: 60px;
    display: flex;
    margin: 0 auto;
    background-image: radial-gradient(circle, #0a37d0, #0d5381, #02234e, #000000);
    width: 90%;
    border-radius: 20px;
}


h1{
    font-size: 85pt;
    color: white;
    padding: 30px;
 
    
}
.Apropos{
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  padding: 20px;
  width: 95%;
  /* justify-content: center; */
  align-items: center;
}
.Apropos p{
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
    text-align:center;
    font-weight:bold;
    font-size: 18pt;
    line-height: 1.8em;
    width: 80%;
}



/* services  */

.SVG{
  width: 90%;
  height: 1300px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  /* align-items: center; */
  background-color: rgb(229, 226, 226);
  margin: 0 auto;
  justify-content: center;

}

.logos{

  flex-direction:column;
  display: block;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}


.logos img:hover{
  background:linear-gradient(90deg,rgba(46, 80, 252, 0.93), rgb(13, 4, 147));
}
.logos img{
  border-radius: 50%;
  width: 20%;
  padding: 30px;
  margin:20px;
  height: 40px;
  background:linear-gradient(90deg,rgb(238, 151, 45, 0.93), rgb(250, 180, 67));
  align-items: center;
  justify-content: center;
  position: relative;


}
.SVG h2{
  font-size: 70pt;
  padding:40px;
  margin: 0;
  top: 0;
  font-weight: 500;
  color: #060f1e;
  font-family: 'Happy Farmhouse', sans-serif;
  text-align: center;
}
.services{
 
  margin: 0;
  height: fit-content;
  top: 0;
  padding: 100px;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}
.services p{
  font-size: 30pt;
  font-family: 'Happy Farmhouse', sans-serif;
  font-weight: 700;
  color: black;
  top: 0;
  text-align: center;


}

/* cours  */

.main{
display: flex;
margin: 0 auto;
width: 90%;
height: 1200px;
flex-direction: column;
padding: 0;

}

.card{
justify-content: center;
background-color: #000000;
height: 900px;
width: auto;
display: flex;
flex-direction: column;
border-radius: 20px;
margin: 0px auto;



}
.main h2{
font-family: 'Happy Farmhouse', sans-serif;
color: white;
display: flex;
font-size: 70pt;
padding:0px;
margin: 30px auto;

}

.main .card p{
color: rgb(255, 255, 255);
font-family: 'Roboto Mono', monospace;
text-align: center;
font-size: 18pt;
line-height: 1.9;
font-weight: bold;
/* margin: 20%; */
justify-content: center;


}

.card button {
height: 50px;
  width: 250px;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 5px 10px rgba(4, 1, 21, 0.964);
  position: relative;
}
button{
  top: 0;
  padding: 0;
  margin: 0;
  font-size: 19pt;
  font-weight: bold;
  color: rgb(255, 255, 255);
  /* font-family: 'NIGHTMARE PILLS', sans-serif; */
  font-family:'Happy Farmhouse', sans-serif;
  z-index: 2;
  transition: 0.3s;
  overflow: hidden;
}


button:hover{
  color: rgb(12, 12, 125);
  width: 250px;
}

button::before{
  content:"";
  position:absolute;
  height: 50px;
  width: 250px;
  border-radius: 50px;
  background-color: rgb(253, 253, 253);
  top: -2px;
  left: -2px;
  transform: translate(-100%);
  transition: 0.3s;
  z-index: -1;
  
}
button:hover::before{
  transform: translate(0%);
}
button i{
  transform: scale(0);
  margin: -10px;
  transition: 0.3s;
}
button:hover i{
  transform: scale(1);
  margin-left: 10px;
}

/* Galerie  */
.Galerie{
  display: flex;
  flex-direction: column;
  height: 1600px;
  width: 90%;
  padding: 0;
  margin:auto;
  background-image: radial-gradient(circle, #0a37d0, #581286, #4e024a, #2f0820, #000000);
  border-radius: 20px;
  justify-content:flex-start;
  align-items: center;

}

.Galerie h2{
  font-size: 70pt;
  padding:40px;
  margin: auto;
  color: #ffffff;
  font-family: 'Happy Farmhouse', sans-serif;
  /* position: relative; */
  text-align: center;
  
}
.Videoyt{
  display: block;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  padding: 20px;
}
.Videoyt iframe{
  border-radius: 20px;
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 95%;
 

}

.Galeriephoto{
  display: flex;
  flex-direction: column;
  height: 420px;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 0;
  width: 40%;
  border-radius: 20px;


}
.photos{
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0;
  height: fit-content;
  justify-content:center;
  /* width: 100vw; */
}

.photos img{
  height: 260px;
  width: 260px;
  padding: 30px;
  border-radius: 20%;
  margin: 0;
  transition: 3ms;
  transform: translateY(100%);


}
img :hover{
  transform: scale(1);
 

}

.Contenu1 button{
  height: 50px;
  width: 250px;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 5px 10px rgba(2, 38, 122, 0.964);
  position: relative;
  z-index: 1;
}
button {
  top: 0px;
  padding: 0;
  margin: 0;
  font-size: 23pt;
  color: rgb(255, 255, 255);
  font-family: 'Happy Farmhouse', sans-serif;
  z-index: 2;
  transition: 0.3s;
  overflow: hidden;

}


button:hover{
  color: rgb(255, 255, 255);
  width: 250px;
}

button::before{
  content:"";
  position:absolute;
  height: 50px;
  width: 250px;
  border-radius: 50px;
  background:linear-gradient(90deg,rgb(238, 151, 45, 0.93), rgb(250, 180, 67));
  top: -2px;
  left: -2px;
  transform: translate(-100%);
  transition: 0.3s;
  z-index: -1;

}
button:hover::before{
  transform: translate(0%);
}
button i{
  transform: scale(0);
  margin: -10px;
  transition: 0.3s;
}
button:hover i{
  transform: scale(1);
  margin-left: 10px;
}



/* footer  */


  .newsletter {
    flex-direction: column;
  }
  .newsletter span:before {
    content: 'Join Our ';
  }

  .header-container {
    margin: 0 6rem;
  }


@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles pour les tablettes */
  .header {
    /* Définissez ici les styles pour la section header sur les tablettes */
  }

  .nav-bar {
    /* Styles pour la barre de navigation sur les tablettes */
  }

  .toggle {
    /* Styles pour le bouton de basculement sur les tablettes */
  }

  .nav-list {
    /* Styles pour la liste de navigation sur les tablettes */
  }

  .nav-list-item {
    /* Styles pour les éléments de liste de navigation sur les tablettes */
  }

  .nav-link {
    /* Styles pour les liens de navigation sur les tablettes */
  }

  .Menu {
    /* Styles pour le menu sur les tablettes */
  }

  .SVG {
    /* Styles pour la section SVG sur les tablettes */
  }

  .logos {
    /* Styles pour les logos sur les tablettes */
  }

  .services {
    /* Styles pour les services sur les tablettes */
  }

  .Options {
    /* Styles pour les options sur les tablettes */
  }

  .Galerie {
    /* Styles pour la galerie sur les tablettes */
  }

  .Videoyt iframe {
    /* Styles pour les vidéos sur les tablettes */
  }

  .Galeriephoto {
    /* Styles pour les photos de la galerie sur les tablettes */
  }

  .photos {
    /* Styles pour les images de la galerie sur les tablettes */
  }

  /* Ajoutez d'autres styles spécifiques aux tablettes ici */
}
