/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
  margin: 0;
  padding: 0;
}




nav{
   
  height: 100px;
  background-attachment: fixed;
  background: rgb(29, 28, 28);
  position: fixed;
  align-items: center;
  display: flex;
  top: 0px;
  width: 100vw;
  z-index: 3;
  

}



ol{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  
}

ol li a{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  padding: 30px;
 
}

.section{
/* width: 60%; */
height: fit-content;
display: flex;
margin: 100px auto;
}

h1{
color: white;
font-family: 'Roboto', sans-serif;
font-size: 60px;
text-align: center;

}
h2{ 
color: white;
font-family: 'Roboto', sans-serif;
font-size: 30px;
text-align: center;
padding: 40px;
}
.card p{
color: white;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight:200 ;
text-align: center;
line-height: 1.5;
}
nav img{
width: 40px;
display: none;
margin-left: 30px;
background-image: linear-gradient(90deg, #59dcfd, #324ff3cc);
padding: 7px;
border-radius: 10px;
}


body{
height: fit-content;
background-color:#000000;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;


}







h1 {
    font-family: 'Happy Farmhouse', sans-serif;
    font-weight: 90px;
    font-size: 70pt;
    color: #fff;
    padding: 50px;
   text-align: center;
   
  }

  h2 {
    font-family: 'Happy Farmhouse', sans-serif;
    font-weight: 90px;
    font-size: 40pt;
    color: #ffffff;
    padding: 20px;
   text-align: center;
   
  }
/* header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
} */

#about-section {
  text-align: center;
  width: 40%;
}

#professor-content {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #22212141; */
  padding: 50px;
  width: fit-content;
  height: fit-content;
  border: 2px solid rgba(34, 81, 184, 0.829);
  margin: 0px auto;
  margin-top: 200px;
  margin-bottom: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#professor-photo {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

#professor-info {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}
#professor-info p{
  font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    font-size: 20pt;
    color: #f5f5f5;
    padding: 30px;
   text-align: center;
   letter-spacing: 2px;
   font-weight: bold;
   line-height: 3em;
   
}


.copyright{
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 60px;
    width: 100vw;
    background-color: rgb(18, 18, 18);
  }
  .copyright p{
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size:14pt;
    font-weight: 200;
    letter-spacing: 2px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    text-align: center;

    
   
  }




  .footer-container {
    background-color: rgb(18, 18, 18);
    /* margin-bottom: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;

  }
  
 
  
  .social-links {
    display: flex;
    align-items: center;
  }
  
  .social-links .link {
    padding: 2rem 10px;
  }
  
  .social-links .link a {
    color: #ffffff;
    font-size: 40px;
  }
  
  .social-links .link a:hover {
    color: #00f;
  }
  
  .copyright {
    padding: 0 0 2rem;
    font-size: 10px;
  }
  
  @media screen and (min-width: 340px) and (max-width: 1400px) {
   
  
  
    ol li a{
    display: block;
         
      }
    
      nav img{
          
      display: flex;
      position: absolute;
      }
      nav ol{
      display: none;
      }
      nav:hover ol {
          display: flex;
          flex-direction: column;
          
      }
      nav:hover{
        height: 100vh;
        background-color: #0c0c0ccf;
        backdrop-filter: blur(9px);
      }
      nav:hover img{
         display: block;
         position: absolute;
         left: 0;
         top: 0;
      }

      #about-section {
        text-align: center;
        width: 90%;
      }

      .header-container {
        margin: 0 6rem;
      }
      
      .copyright{
        color: #fff;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0;
        bottom: 0;
        height: 60px;
        background-color: rgb(18, 18, 18);
      }
  }

    
    
