/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
  margin: 0;
  padding: 0;
}

nav{
   
  height: 100px;
  background-attachment: fixed;
  background: rgb(29, 28, 28);
  position: fixed;
  align-items: center;
  display: flex;
  top: 0px;
  width: 100vw;
  z-index: 3;
  

}


ol{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  
}

ol li a{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  padding: 30px;
 
}

.section{
/* width: 60%; */
height: fit-content;
display: flex;
margin: 100px auto;
}

h1{
color: white;
font-family: 'Roboto', sans-serif;
font-size: 60px;
text-align: center;

}
h2{ 
color: white;
font-family: 'Roboto', sans-serif;
font-size: 30px;
text-align: center;
padding: 40px;
}
.card p{
color: white;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight:200 ;
text-align: center;
line-height: 1.5;
}
nav img{
width: 40px;
display: none;
margin-left: 30px;
background-image: linear-gradient(90deg, #59dcfd, #324ff3cc);
padding: 7px;
border-radius: 10px;
}


body{
height: fit-content;
background-color:#000000;
display: flex;
flex-direction: column;
align-items: center;


}





 h1 {
  font-family: 'Happy Farmhouse', sans-serif;
  font-weight: 90px;
  font-size: 70pt;
  color: #fff;
 text-align: center;
 margin: 200px;
 
}

.cours_container {
 
  /* margin: 30px auto; */
  text-align: center;
  height: 500px;
}
.cours_container h2{
  font-family: 'Happy Farmhouse', sans-serif;
  font-weight: 90px;
  font-size: 90pt;
  margin-top: 200px;
  padding: 50px;
  color: #fff;
 
}
.course-cards {
  margin: 100px auto;
  display: block;
  flex-direction: column;
  height: fit-content;
  width:80%;
  /* padding: 20px; */
 
}
.course{
  height:fit-content;

}

/* .course-cards :hover{
   
  transform: scale(1.1);
  transition: ease-in;
  transition: cubic-bezier(0.23, 1, 0.320, 1);
} */
.batterie{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
}
.batterie .course-cards {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  /* padding: 30px; */
  width: 80%;
  
 
}

/* Styles pour le champ de texte des objectifs */
textarea {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #000000;
  font-family: 'NIGHTMARE PILLS', sans-serif;
  font-size: 13pt;
  text-align: left;
}

 .input{ 
  color: #181818;
  font-family: 'NIGHTMARE PILLS', sans-serif;
  font-size: 15pt;
  text-align:left;
}
.instrument-dropdown, .level-dropdown, .signup-button {
  padding: 10px;
  border-radius: 10px;
  font-size: 15pt;
  margin: 10px;
  font-family: 'Roboto Mono', monospace;
  color: #080c14;
 
}
.signup-button:hover{
  color: #00f;
  box-shadow: 0px 5px 10px rgba(2, 38, 122, 0.964);
}
.signup-button:hover::before{
  transform: translate(0%);
}

.instrument-dropdown option{
  font-size: 15pt;
  font-family: 'Roboto Mono', monospace;
  color: #000000;
  text-align: center;

}
.level-dropdown option{
  font-size: 14pt;
  margin: 0px;
  font-family: 'Roboto Mono', monospace;
  color: #000000;
}

#signup-form {
  text-align: center;
  background-color: #fff;
  border: 2px solid #060606;
  padding: 30px;
  margin: 20px;
  height: fit-content;
  width:fit-content;
  /* margin: 0 auto; */
  /* display:block; */
  border-radius: 10px;
  box-shadow: 1px 0 5px rgba(1, 3, 147, 0.873);
}

#signup-form h2 {
  color: #000000;
  font-size: 20pt;
  margin: 20px 0;
  letter-spacing: 2px;
  font-family: 'Roboto Mono', monospace;
}

#signup-form input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #656464;
  border-radius: 5px;
}

#signup-form input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

#signup-form input[type="submit"]:hover {
  background-color:rgb(1, 1, 211);
 
}

.hidden {
  display: none;
}



/* Votre style CSS existant reste inchangé */

/* Styles pour les cartes de cours */
.card {
  /* background-color:rgb(1, 1, 211); */
  color: #fff;
  border: 2px solid rgba(34, 81, 184, 0.829);
  /* padding: 30px; */
  margin: 90px auto;
  height: fit-content;
  justify-content: center;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(4, 10, 165, 0.842);
}
/* @media screen and (max-width: 778px) {
  .course-cards {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
   
  }

  .card {
    background-color:rgb(1, 1, 211);
    color: #fff;
    border: 1px solid #2980b9;
    padding: 30px;
    margin: 0 auto;
    height: fit-content;
    justify-content: center;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(4, 10, 165, 0.842);
  }
} */
.card h2 {
  font-size: 25pt;
  margin: 10px 0;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 2px;
}

.card p {
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px 0;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}



.details{
  background: rgb(254, 255, 254);
  height: fit-content;
  text-align: center;
  display: block;
  width: 70%;
  color: #171717;
  font-family: 'Roboto Mono', monospace;
  transition: all 0.1s ease-in;
  font-size: 13pt;
  font-weight: bold;
  border-radius: 10px;
  letter-spacing: 2px;
  padding: 10px;
  margin: 10px auto;
  height: fit-content;
}

.details:hover{
  background: rgba(207, 211, 214, 0.944);
}


.copyright p{
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size:14pt;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 2px;
  text-align: center;

  
 
}




.footer-container {
  background-color: rgb(18, 18, 18);
  /* margin-bottom: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100vw;

}



.social-links {
  display: flex;
  align-items: center;
}

.social-links .link {
  padding: 2rem 10px;
}

.social-links .link a {
  color: #ffffff;
  font-size: 40px;
}

.social-links .link a:hover {
  color: #00f;
}

.copyright {
  padding: 0 0 2rem;
  font-size: 10px;
}


    @media screen and (min-width: 340px) and (max-width: 1400px) {
      /* Styles pour la plage de 551px à 750px */
    
    
        ol li a{
       display: block;
           
        }
      
        nav img{
            
            display: flex;
            position: absolute;
        }
        nav ol{
            display: none;
        }
        nav:hover ol {
            display: flex;
            flex-direction: column;
            
        }
        nav:hover{
            height: 100vh;
            background-color: #0c0c0ccf;
            backdrop-filter: blur(9px);
        }
        nav:hover img{
           display: block;
           position: absolute;
           left: 0;
           top: 0;
        }
  
        #about-section {
          text-align: center;
          width: 90%;
        }
  
        .header-container {
          margin: 0 6rem;
        }
        
        .copyright{
          color: #fff;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: row;
          margin: 0;
          bottom: 0;
          height: 60px;
          background-color: rgb(18, 18, 18);
        }
    }