

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}
div {
  margin: 0;
}


.header{
    margin: 0;
    padding: 0;
}

nav{
   
  height: 100px;
  background-attachment: fixed;
  background: rgb(29, 28, 28);
  position: fixed;
  align-items: center;
  display: flex;
  top: 0px;
  width: 100vw;
  z-index: 3;
  

}


ol{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  
}

ol li a{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  padding: 30px;
 
}

nav img{
  width: 40px;
  display: none;
  margin-left: 30px;
  background-image: linear-gradient(90deg, #59dcfd, #324ff3cc);
  padding: 7px;
  border-radius: 10px;
}



body{
  height: fit-content;
  background-color:#000000;
  margin: 0 auto;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;


}




  .ml14 {
    font-weight: 100;
    font-size: 90pt;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:  280px;
    width: 70%;
    font-family: 'Happy Farmhouse', sans-serif;
    border-radius: 20px;
    display: flex;
    margin: 200px auto;
    border: 2px solid rgba(34, 81, 184, 0.829);
    /* display: flex; */
  }
  
.ml14 h1{
  justify-content: center;
  text-align: center;
}

  

.Galerie {
    display: flex;
    flex-direction:column;
    height: fit-content;
    
}
.Galerie .photos{
    justify-content: center;
    /* display: block; */
}
.photos img{
    margin: 100px auto;
    display: block;
    width: 40%;
    height: 40%;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out; /* Ajout de la transition pour un effet en douceur */
  }



/* Styles au survol de l'image */
.photos img:hover {
  transform: scale(0.9); /* Augmente la taille de l'image de 10% au survol */
}


 
   .Social{
    width: 100vw;
    background-color: rgb(12, 83, 224);
    /* justify-content:flex-start; */
    /* align-items: center; */
    margin: 0;
    padding: 0;
    
  }
 
  .copyright{
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 60px;
    /* width: 100vw; */
    background-color: rgb(18, 18, 18);
  }
  .copyright p{
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size:14pt;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3px;
    
  }

  
  .footer-container {
    background-color: rgb(18, 18, 18);
    margin-bottom: 0 auto;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  
  .social-links {
    display: flex;
    align-items: center;
  }
  
  .social-links .link {
    padding: 2rem 10px;
    margin: 20px;
  }
  
  .social-links .link a {
    color: #ffffff;
    font-size: 40px;
  }
  
  .social-links .link a:hover {
    color: #00f;
  }
  
  .copyright {
    padding: 0 0 2rem;
    font-size: 10px;
  }
  



  @media screen and (min-width: 340px) and (max-width: 1400px) {
    /* Styles pour la plage de 551px à 750px */
  
  
      ol li a{
     display: block;
         
      }
    
      nav img{
          
          display: flex;
          position: absolute;
      }
      nav ol{
          display: none;
      }
      nav:hover ol {
          display: flex;
          flex-direction: column;
          
      }
      nav:hover{
          height: 100vh;
          background-color: #000000e6;
          backdrop-filter: blur(9px);
      }
      nav:hover img{
         display: block;
         position: absolute;
         left: 0;
         top: 0;
      }

      .photos img{
        margin: 150px auto;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 20px;
        transition: transform 0.3s ease-in-out; /* Ajout de la transition pour un effet en douceur */
      }


      
  .ml14 {
    font-weight: 100;
    font-size: 90pt;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:  700px;
    width: 90%;
    font-family: 'Happy Farmhouse', sans-serif;
    border-radius: 20px;
    display:flex;
    margin: 200px auto;
    border: 2px solid rgba(34, 81, 184, 0.829);
    /* display: flex; */
  }
  
.ml14 h1{
  justify-content: center;
  text-align: center;
}
    
    }
