

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header{
    margin: 0;
    padding: 0;
}

.container {
	width: 100%;
	height: 90px;
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
	background-size: 400% 400%;
	position: relative;
}

.nav-bar {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.977);
	top: 0;
	right: 100%;
	height: 100vh;
	width: 100%;
    z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: position 2.9s;
	-webkit-transition: position 2.9s;
	-moz-transition: position 2.9s;
	-ms-transition: position 2.9s;
	-o-transition: position 2.9s;
}

.toggle {
	left: 0;
	box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);

}

.toggle-menu {
	
	position: fixed;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    padding: 2px 2px 2px 3px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.line {
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: #fff;
	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
	-moz-transition: transform 0.2s ease-out;
	-ms-transition: transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
	background-color: #000000;
	transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
	display: none;
}

.toggle .line3 {
	background-color: #000000;
	transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
background-color: white;
}

.nav-list {
	list-style: none;
  justify-content: center;
}

.nav-list-item {
	text-align: center;
	padding: 0px 0;
  justify-content:center;
  display: flex;
  position: relative;
}

.nav-link {
	color: #fff;
	font-size: 28px;
	text-decoration: none;
	position: relative;
	padding-bottom: 5px;
  line-height: 2rem;
  font-family: 'Lexend Deca', sans-serif;
    
}

.nav-link:hover {
	transform: scale(-3px);
  color: rgb(238, 151, 45, 0.93);
  font-size: 30px;
	text-decoration: none;
	position: relative;
	padding-bottom: 4px;
    font-family: 'Lexend Deca', sans-serif;
}


.nav-link::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform 1s ease-in-out;
	transform-origin: left;
	-webkit-transition: transform 0.4s ease-in-out;
	-moz-transition: transform 0.4s ease-in-out;
	-ms-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
	transform: scaleX(1);
}


.nav-bar{
    display: none;
}

@media screen and (max-width:900px) {
    .nav-bar{
        display: block;
       
    } 
    .Menu .navlinks{
        display: none;
        
    }
   
}


.Menu{
    height: 60px;
    width: 100vw;
    flex-direction: row;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    top: 0;
    padding: 0px;
    margin: 0;
   
    z-index: 2;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(90deg, rgb(11, 11, 11),  rgb(42, 43, 44));
    /* color: #000000; */
  }
  .navlinks li a{

    font-family: 'NIGHTMARE PILLS', sans-serif;
                                                
  }
  
  .navlinks ul{
    display: flex;
    flex-direction: row;
    text-align:end;
    list-style-type: none;
    position: relative;
  
  }
  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 40px;
    /* position: relative; */
    transition: ease-in;
    transition: 0.5s;
  }
  span{
    display: inline-block;
  }
  
  a:hover{
    transform: scale(-3px);
    color: rgb(11, 89, 224);
    font-size: 28px;
  }
  
body {
  height: 3000px;
  background-color:#080c14;
   
  }



  .ml14 {
    font-weight: 100;
    font-size: 70pt;
    color: #fff;
    justify-content: center;
    text-align: center;
    height: 600px;
    font-family: 'Happy Farmhouse', sans-serif;
    background-image: radial-gradient(circle, #0a37d0, #0d5381, #02234e, #000000);
    display: flex;
  }
  
  .ml14 .text-wrapper {
    position: relative;
    /* display: inline-block; */
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  
  .ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fffffe;
    transform-origin: -0% 100%;
    bottom: 0;
  }
  
  .ml14 .letter {
    display: flex;
    line-height: 1em;
    top: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }


.Galerie {
    display: flex;
    flex-direction: column;
    height: fit-content;
    
}
.Galerie .photos{
    justify-content: center;
    /* display: block; */
}
.photos img{
    margin: 0 auto;
    display: flex;
    width: 30%;
    height: min-content;
    padding: 10px;
    border-radius: 20px;

}

.Galerie .photos :hover{
   
    transform: scale(0.9);
    transition: ease-in-out;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
}
 
 @media screen  and (max-width: 900px){
   
  body{
    height: 2000px;
  }
  .ml14 {
    font-weight: 100;
    font-size: 40pt;
    color: #fff;
    justify-content: center;
    text-align: center;
    height: 400px;
    font-family: 'Happy Farmhouse', sans-serif;
    background-image: radial-gradient(circle, #0a37d0, #0d5381, #02234e, #000000);
    display: flex;
  }

  .photos img{
    margin: 0 auto;
    display: flex;
    width: 45%;
    height:min-content;
    padding: 10px;
    border-radius: 20px;

}

.Galerie .photos :hover{
   
  transform: scale(0.9);
  transition: ease-in-out;
  transition: cubic-bezier(0.23, 1, 0.320, 1);
}


      } 



      .copyright{
        color: #fff;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin: 10px;
        height: 60px;
        width: 100vw;
        background-color: rgb(18, 18, 18);
      
      }
      .copyright p{
        color: #ffffff;
        justify-content: center;
        align-items: center;
        font-size:17pt;
        font-weight: bold;
        font-family: 'Happy Farmhouse', sans-serif;
        letter-spacing: 2px;
        text-align: center;
        padding: 20px;
      }
    
    

      .footer-container {
        background-color: rgb(18, 18, 18);
        margin-bottom: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
      }
      
      .newsletter {
        width: 100vw;
        padding: 2rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
      .newsletter p{
        font-family: 'NIGHTMARE PILLS', sans-serif;
        color: white;
        font-size: 15pt;
      }
      .newsletter ::placeholder{
        color: #000000;
        font-family: 'NIGHTMARE PILLS', sans-serif;
        font-size: 13pt;
        text-align: center;
    
      }
      .newsletter div {
        background-color: rgb(182, 226, 245);
        padding: 0 10px;
        border-radius: 35px;
        display: flex;
        align-items: center;
      }
      
      .newsletter div input {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 1rem;
        
      }
      
      .newsletter div i {
        cursor: pointer;
        background-color: #0081FE;
        border-radius: 50%;
        font-size: 20px;
        padding: 10px;
        color: rgb(255, 255, 255);
      }
      
      .social-links {
        display: flex;
        align-items: center;
      }
      
      .social-links .link {
        padding: 2rem 10px;
      }
      
      .social-links .link a {
        color: #ffffff;
        font-size: 40px;
      }
      
      .social-links .link a:hover {
        color: #00f;
      }
      
     .copyright {
        padding: 0 0 2rem;
        font-size: 10px;
      } 
      
      /* @media screen and (max-width: 600px) {
        .header-container {
        }
        .navbar,
        .user-options {
          display: none;
        }
        .menu {
          display: block;
        }
      } */
      
      @media screen and (max-width: 400px) {
        .newsletter {
          flex-direction: column;
        }
        .newsletter span:before {
          content: 'Join Our ';
        }
      }
      
      @media screen and (min-width: 1300px) {
        .header-container {
          margin: 0 6rem;
        }
      }




 



